.section {
  color: #000;
  background: #ffffff;
  width: 35%;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

p {
  font-size: 1rem;
  font-weight: bold;
}
.algorithm {
  gap: 2px;
}

.algorithm select {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-color: #1e59b2 !important;
}

.algorithm button {
  background-color: #fff;
  color: #000;
  border-color: #1e59b2 !important;
}

.flex-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  height: 100%;
}

.status__difficulty {
  margin-right: auto;
}

.status__difficulty-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
}

.status__difficulty-select {
  position: relative;
  display: inline-block;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
  color: #1e59b2;
  background-color: var(--background-color);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.container-grid {
  background-color: rgb(243 244 246);
  display: grid;

  font-size: 12px;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  grid-gap: 10px; /* Espaçamento entre os itens */
  padding: 10px;
}
.caution {
  font-size: 10px;
}

.container-grid input {
  width: 100%; /* Ocupa toda a largura disponível */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
  border: none;
  padding: 8px;
}

input[disabled] {
  background-color: #faf9f7; /* Altere a cor do texto conforme necessário */
}

input,
button {
  cursor: pointer;
  height: 40px;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkbox {
  height: 13px;

  width: 13px !important;
}
.spinner {
  animation: spin 1s linear infinite;
  font-size: 20px;
  margin-right: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
